insert into dish values (1, '1','烧鱿鱼筒', 1, '烧鱿鱼筒desc','烧鱿鱼筒stuff',0,0,'f1.jpg',null,null);
insert into dish values (2, '1','泰煌招牌咖喱蟹', 1, '泰煌招牌咖喱蟹desc泰煌招牌咖喱蟹desc泰煌招牌咖喱蟹desc','泰煌招牌咖喱蟹stuff',0,0,'f2.jpg',null,null);
insert into dish values (3, '1','咖喱炒大虾', 1, '咖喱炒大虾desc','咖喱炒大虾stuff',0,0,'f3.jpg',null,null);
CREATE table dish_order (_id INTEGER PRIMARY KEY AUTOINCREMENT, create_time LONG not null, tableid INTEGER not null, customernum INTEGER not null, waiterid VARCHAR(10) not null);
CREATE table order_dish_mapping (_id INTEGER PRIMARY KEY AUTOINCREMENT, order_id INTEGER not null, dish_id INTEGER not null, orderednum INTEGER not null);
insert into dish_order values (1, 10000, 3, 3, '001');
insert into order_dish_mapping values (1, 1, 5, 5);
insert into order_dish_mapping values (2, 1, 4, 4);
insert into order_dish_mapping values (3, 1, 6, 6);

select o._id 'id', o.create_time, m.dish_id from dish_order o, order_dish_mapping m where o._id = m.order_id

insert into dish_type values (0, '推荐菜肴', '00', 0);
insert into dish_type values (1, '沙律', '01', 0);
insert into dish_type values (2, '风味冷菜', '00', 0);

insert into dish_type_mapping values (1, 0);
insert into dish_type_mapping values (2, 0);
insert into dish_type_mapping values (3, 0);

insert into dish_price values (1, 38, '份');
insert into dish_price values (1, 58, '大份');
insert into dish_price values (2, 168, '份');
